<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="mx-auto" style="width: 60%; margin-top:2%;">
  <%- include('includes/header') %>
    <div class="alert alert-success" role="alert" style="width:50%;height:20em;margin-top: 12%;margin-left: 24%;text-align: center;">
        <h1>Thank you for choosing our service</h1>
       
        <div id="hide" >
            <h5>We are processing your data</h5>
        <div class="spinner-border text-success" role="status" style="height: 5em;width: 5em;margin: 2em;">
            <span class="visually-hidden"></span>
          </div>
          <h5>This might take a while...</h5>
        </div>
        <a href="/report-generator"><button type="button" class="btn btn-outline-primary">Generate another report</button></a> 
      </div>

      <script>
  setTimeout(function(){
    document.getElementById("hide").style.visibility = "hidden";
        }, 3000);
      </script>
</body>
</html>